
/* Llamadas views*/
.teclado {
    width: 85%;
    height: 94%;
    margin: 2% 5%;
}

.pantalla {
    width: 90%;
    height: 12%;
    border-radius: 5em;
    margin: 4% 0% 5% 8%;
    display:inline-flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: space-between;
    background-color: white;
    opacity: .8;
}

.pantallaColorGreen {
    &>input {
        color:$colorGreen;
    }
    border: 0.2em $colorGreen solid;
}
.pantallaColorOrange {
    &>input {
        color:$colorOrange;
    }
    border: 0.2em $colorOrange solid;
}

.pantalla>input {
    text-align:center;
    font-size: 5.5em;
    height: 2.1em;
    border: 0 none;
    margin-left:0.2em;
    border-radius:5em;
    order:1;
}

.pantalla>input:focus {
    outline: 0px solid transparent;
    border: 0px solid transparent;
}


.pantalla>button {
    order:2;
    flex: 1 0 auto;
    margin-right: 1em;
    &:active img {
        width: 7em;
        height: 7em;
    }
}

.pantalla>button>img {
    margin: 0.5em;
    width: 6em;
    height: 6em;
}

.pantalla .contador {
    font-size: 7em;
    width:11%;
    margin:0.1em;
    order:2;
    flex: 1 0 auto;
    color:$colorGreen;
    border: 0.05em solid $colorGreen;
    padding: 0.1em 0.2em;
    line-height: 1.1em;
    border-radius: 4em;
    text-align: center;
}

.pantalla .contador.alerta {
    background-color: $colorRed;
    color: white;
    border: 0.05em solid white;
}

.cuerpo {
    display: inline-flex;
    width: 100%;
    height: 70%;
}

.tecladito {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    align-items: flex-start;
    width: 80%;
    height: 100%;
    margin-bottom: 2%;
    flex: 0 1 auto;
}

.tecla {
    width: 22%;
    height: 19%;
    border-radius:10em;
    display: inline-flex;
    font-size: 6em;
    margin-left: 10%;
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    position:relative;
    &>p {
        margin:auto;
    }
}

.teclaConLetra {
    &>p {
        position:absolute;
        text-align: center;
        display:block;
        width:100%;
        height:50%;
    }
    &>span {
        position:absolute;
        font-size: 0.45em;
        display:block;
        text-align: center;
        width:100%;
        margin-top:50%;
        height:50%;
    }
}

.opciones {
    width: 15%;
    height: 100%;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: space-around;
    align-items:center;
}

.opciones .entrada {
    margin-top: 30%;
    width: 70%;
    height: 8%;
    background-color: $colorGreen;
    position:relative;
    border-radius: 3em;
    .ingresoMoneda {
        position:absolute;
        padding:0.1em 0.3em;
        background-color: #000;
        border-radius: 2em;
        opacity: 0.5;
        margin-top:0.1em;
        margin-left: 5%;
        font-size:3em;
        color: white;
        transition: all 500ms linear;
    }
    .ingresoMoneda.active {
        margin-left:50%; 
    }
    .flecha {
        width: 0;
        height: 0;
        border-top: 2em solid transparent;
        border-bottom: 2em solid transparent;
        border-left:2em solid #000;
        float:right;
        opacity:0.5;
        margin-top:0.5em;
        margin-right: 1em;
    }
}

.opciones .dinero {
    text-align: center;
    margin-top: 4em;
}

.opciones .dinero .moneda {
    font-size: 6em;
    font-weight: bold;
    padding: 0.5em .8em;
    color: white;
    display: inline;
    background-color: $colorGreen;
    border-radius: 3em;
    margin-left:1em;
}

.opciones .dinero .letraGreen {
    display: inline;
    font-size: 5em;
    color: $colorGreen;
}

.opciones .atras {
    width: 81%;
    height: 18%;
    border-radius: 100%;
    text-align: center;
    background-color: $colorGreen;
    margin-bottom: 16%;
}

.opciones .atras>img {
    width: 70%;
    height: 70%;
    margin:15%;
}

.llamar {
    width: 67%;
    height: 12%;
    margin-left: 10%;
}

.llamar>button {
    width: 100%;
    height: 100%;
    border-radius: 6em;
    background-color: $colorGreen;
}

.llamar>button>img {
    width: 6em;
    height: 6em;
}
//view llamando
.subllamado {
    width:100%;
    height:80%;
}

.initLlamando {
    @include flexPanel(flex,column,wrap,space-around,stretch,stretch,78%,96%,0% 0% 0% 10%,0%);
}
.llamando {
    height:100%;
    width:100%;
}

.llamando .teclado {
    height:20%;
    .pantalla {
        width:90%;
        height:55%;
    }
}

.colgarPanel {
    border-radius: 6em;
    height: 14%;
}

.colgarPanel .iconPanel>img {
    margin:0.5em 2em;
    width:3em;
    height:1em;
}

//Notas views
.notebook{
    width: 100%;
    height:80%;
    .write {
        position: relative;
        width: 90%;
        height: 100%;
        font-size: 4em;
        background: #fff;
        font-family: Gothic;
        src: url(font/gothic.ttf);
        opacity:.8;
        border-radius: .5em;
        padding: 0 0 0 1.5em;
        line-height: 1.6em;
    }

    .iconoImprimir {
        position:absolute;
        height: 4%;
        border-radius: 1em 1em 0 0;
        background-color: $colorGreen;
        color: #fff;
        font-size:2em;
        width: 20%;
        top: 23.5%;
        left: 66%;
        img {
            float:left;
            width:1.3em;
            height:1.3em;
            margin: 0em 1em 0em 1em;
        } 
        p {
            float:left;
        }
    }
}

.buttonNotas {
    height:15%;
    .iconoColgar {
        height: 90%;
        width: 50%;
        background-color: $colorRed;
        border-radius: 6em;
        margin-right: 5%;
        margin-left: 25%;
        float: left;
        img {
            width:10em;
            height:10em;
        } 
    }
    .iconoAtras {
        height: 90%;
        width: 15%;
        background-color: $colorGreen;
        border-radius: 6em;
        float: left;
        img {
            width:6em;
            height:6em;
        } 
    }
}
//view of juegos
.juegos {
    width:90%;
    height:70%;
    margin-left: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
}
.juego {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    width: 50%;
    height:20%;
    font-size:4em;
    color:black;
    p {
        margin-top: 1.3em;
        float:left;
        margin-left: 1em;
    }
    img {
        float: left;
        width: 4em;
        height: 4em;
        svg {
            fill:$colorGreen;
        }
    }
}
.atrasJuegos {
    width: 20%;
    height: 20%;
    margin:auto;
    background-color:$colorGreen;
    border-radius:12em;
    img {
        margin: 15%;
        width: 70%;
        height: 70%;
    }
}
//views of ubicacion
@-webkit-keyframes animationFrames {
    0% {
        opacity:0;
        -webkit-transform:  rotate(-200deg) ;
    }
    100% {
        opacity:1;
        -webkit-transform:  rotate(0deg) ;
    }
}
@-webkit-keyframes flipInY { 
    0% { 
        -webkit-transform: perspective(400px) rotateY(90deg); 
        opacity: 0; 
    } 
    40% { 
        -webkit-transform: perspective(400px) rotateY(-10deg); 
    } 
    70% { 
        -webkit-transform: perspective(400px) rotateY(10deg); 
    } 
    100% { 
        -webkit-transform: perspective(400px) rotateY(0deg); 
        opacity: 1; 
    } 
} 
@keyframes flipInY { 
    0% { 
        transform: perspective(400px) rotateY(90deg); 
        opacity: 0; 
    } 
    40% { 
        transform: perspective(400px) rotateY(-10deg); 
    } 
    70% { 
        transform: perspective(400px) rotateY(10deg); 
    } 
    100% { 
        transform: perspective(400px) rotateY(0deg); 
        opacity: 1; 
    } 
} 

.ubicacionPanel {
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    z-index:-1;
    img {
        width: 100%;
        height: 100%;
    }
    .animate {
        //animation: animationFrames linear 0.7s;
        //animation-iteration-count: 1;
        //transform-origin: 50% 50%;
        //-webkit-animation: animationFrames linear 0.7s;
        //-webkit-animation-iteration-count: 1;
        //-webkit-transform-origin: 50% 50%;

        -webkit-animation-duration: 1s; 
        animation-duration: 1s; 
        -webkit-animation-fill-mode: both; 
        animation-fill-mode: both;
        -webkit-backface-visibility: visible !important; 
        -webkit-animation-name: flipInY; 
        backface-visibility: visible !important; 
        animation-name: flipInY; 
    }
}
.atrasUbicacion {
    margin-top: 75%;
    height:15%;
    width:100%;
    .iconoColgar {
        width: 50%;
        height: 90%;
        background-color:$colorRed;
        border-radius: 8em;
        margin-left: 25%;
        float:left;
        img {
            width: 12em;
            height: 8em;
        }
    }
    .iconoAtras {
        width: 13%;
        height: 85%;
        background-color:$colorGreen;
        border-radius:8em;
        margin-left: 3%;
        float: left;
        img {
            width: 6em;
            height: 6em;
        }
    }
}
