//views of recargas
.empresas {
    width:100%;
    height:100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
}

.circlePanel {
    width: 42%;
    height: 35%;
    margin: 2%;
    font-size: 6.5em;
    text-align: center;
    border-radius: 50%;
    transition: all 1s ease;
}

.circlePanel>img {
    width: 4.5em;
    padding: 0.5em;
    height: 4.5em;
}

#atrasEmpresas>img {
    padding: 1.4em;
    width: 3em;
    height: 3em;
}

//recargar view
.idEmpresa {
    position:absolute;
    top:0;
    right:0.5em;
    font-size:3.5em;
    width: 1.8em;
    height: 1.8em;
    color:white;
    line-height: 0.1em;
}

.opcionesRecargas {
    margin-left:18%;
    width:80%;
    height:12%;
    color:white;
    .textoSaldo {
        float:left;
        width:48%;
        height:100%;
        background-color:$colorOrange;
        border-radius:5em;
        p {
            font-size:2.8em;
            margin:0; 
            line-height:3.7em;
            text-align:center;
        }
    }
    .dinero {
        margin-left:8%;
        margin-right:3%;
        float:left;
        width:20%;
        height:100%;
        font-size:6em;
        font-weight: bold;
        line-height:2em;
        .moneda {
            float:left;
            width: 100%;
            height:100%;
            background-color:$colorOrange;
            text-align:center;
            border-radius:50%;
        }
    }
    .entrada {
        height: 50%;
        width: 20%;
        background-color: $colorOrange;
        position:relative;
        border-radius: 3em;
        float:left;
        margin-top:5%;
        .ingresoMoneda {
            position:absolute;
            padding:0.1em 0.3em;
            background-color: #000;
            border-radius: 2em;
            opacity: 0.5;
            margin-top:0.15em;
            margin-left: 5%;
            font-size:3em;
            color: white;
            transition: all 500ms linear;
        }
        .ingresoMoneda.active {
            margin-left:50%; 
        }
        .flecha {
            width: 0;
            height: 0;
            border-top: 2em solid transparent;
            border-bottom: 2em solid transparent;
            border-left:2em solid #000;
            float:right;
            opacity:0.5;
            margin-top:0.75em;
            margin-right: 1em;
        }
    }
}
.cuerpoRecarga {
    margin-left:10%;
    .tecladito {
        width:90%;
    }
    width:80%;
    height:60%;
}
.recargar {
    $sizeLetter:6em;
    margin-left:18%;
    width:70%;
    height:12%;
    &>button {
        height:100%;
        width:56%;
        border-radius: 5em;
        background-color:$colorOrange;
        img {
            width:$sizeLetter;
            height:$sizeLetter;
        }
    }
    &>.atras {
        margin-left:7%;
        border-radius:50%;
        width: 25%;
        height: 100%;
        background-color:$colorOrange;
        &>img {
            width:$sizeLetter;
            height:$sizeLetter;
        }
    }
}
