// bower:scss
// endbower


/* Space out content a bit */
@mixin clearSpace {
    margin:0;
    padding:0;
}

@mixin panel($normalColor, $hoverColor) {
    & {
        background-color:$normalColor;
    }
    &:hover {
        background-color:$hoverColor;
    }
}

@mixin flexPanel($width, $height, $padding, $margin ) {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-content: stretch;
    align-content: stretch;
    -webkit-box-align: stretch;
    -moz-box-align: stretch;
    -webkit-align-items: stretch;
    align-items: stretch;
    width: $width;
    height: $height;
    padding: $padding;
}

* {
    @include clearSpace;
}

button {
    background: none;
    border: 0;
}

button:focus {
    outline: 0;
    box-shadow: none;
}

.header {
    display: inline-flex;
    width: 100%;
    background-color: #666;
    color: #ffffff;
    padding: 0.1em 0;
}

#signalPanel {
    padding-right: 38%;
    padding-left: 1%; 
    ul {
        @include clearSpace;
        list-style: none;
        display: inline-flex;
        li {
            width: 1.8em;
            height: 1.8em;
            margin: 0.1em;
            background-color: #ffffff;
            border-radius: 1em;
        }

    }
}

#hourPanel {
    font-size: 2em;
}
.teclado {
    width: 100%;
    height: 90vh;
}

.init {
    @include flexPanel(100%,97%,3%,0);
}

.Panel {
    -webkit-box-ordinal-group: 1;
    -webkit-order: 1;
    order: 1;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: stretch;
    align-self: stretch;
    margin: 2% 15%;
    padding: 2% 5%;
    color: #ffffff;
    border-radius: 1em;
    font-size: 2.5em;
    text-decoration: none;
    display: inline-flex;
    transition: all 1s ease-in;
}

.Panel .name>p{
    margin:0.3em 0;
}
.Panel .iconPanel {
    flex: 1 0 auto;
}

.Panel .iconPanel>img{
    width: 2em;
    height: 2em;
    float: right;
}

.Panel:hover .iconPanel>img {
    transition: all 0.2s ease-out;
    width:2.1em;
    height:2.1em;
}

.greenPanel {
    @include panel(green,black);
}

.orangePanel {
    @include panel(orange,black);
}

.redPanel {
    @include panel(red,black);
}

.bluePanel {
    @include panel(blue,black); 
}

/* Llamadas views*/

.teclado {
    padding:2% 10%;
}

.pantalla {
    width: 75%;
    height: 15%;
    border: 0.2em solid;
    border-radius: 3em;
    margin-bottom: 2%;
    display:inline-flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: stretch;
}

.pantalla>input {
    font-size: 3.5em;
    border: 0 none;
    margin-left:0.2em;
    border-radius:0.5em;
    order:1;
}

.pantalla>input:focus {
    outline: 0px solid transparent;
    border: 0px solid transparent;
}


.pantalla>button {
    order:2;
    flex: 1 0 auto;
}

.pantalla>button>img {
    margin: 0.5em;
    width: 5em;
    height: 5em;
}
.pantalla .contador {
    margin: auto;
    margin-right: 0.2em;
    width: 1em;
    padding: 0.2em 0.3em;
    font-size: 2.3em;
    order:2;
    border:0.1em solid green;
    border-radius: 4em;
    flex: 1 0 auto;
    text-align:center;
}
.pantalla .contador>p {
    margin:0;
}

.cuerpo {
    display: inline-flex;
    width: 80%;
    height: 60%;
}

.tecladito {
    width: 80%;
    height: 100%;
    margin-bottom: 2%;
    flex: 0 1 auto;
}

.teclas {
    display: block;
    height: 23%;
    margin: 1% 0%;
}

.tecla {
    background-color: green;
    color: white;
    width: 16%;
    height: 100%;
    border-radius:10em;
    display: inline-flex;
    font-size: 2.5em;
    margin-left: 12%;
}

.tecla>p {
    text-align: center;
    margin: auto;
}

.opciones {
    width: 15%;
    height: 100%;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.opciones .entrada {
    margin-top: 2em;
    background-color: green;
}

.opciones .dinero {
    text-align: center;
}

.opciones .dinero .moneda {
    font-size: 3em;
    padding: 0.3em 0.6em;
    color: white;
    display: inline;
    background-color: green;
    border-radius: 1em;
}

.opciones .dinero .letraGreen {
    display: inline;
    font-size: 3em;
    color: green;
}

.opciones .atras {
    width: 5em;
    height: 5em;
    border-radius: 4em;
    text-align: center;
    background-color: green;
    margin-bottom: 1em;
}

.opciones .atras>img {
    width: 2.5em;
    height: 2.5em;
    margin:1.2em;
}

.llamar {
    width: 50%;
    height: 13%;
    margin-left: 10%;
}

.llamar>button {
    width: 100%;
    height: 100%;
    border-radius: 6em;
    background-color: green;
}

.llamar>button>img {
    width: 100%;
    height: 100%;
}

//views of recargas
.empresas {
    padding: 0;
    margin: 5%;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
}

.circlePanel {
    width: 35%;
    height: 20%;
    margin: 2%;
    font-size: 3em;
    text-align: center;
    background-color: orange;
    border-radius: 5em;
    transition: all 1s ease;
}

.circlePanel:hover {
    width: 36%;
    height: 21%;
    background-color: black;
}

.circlePanel>img {
    width: 4.5em;
    padding: 0.5em;
    height: 4.5em;
}

#atrasEmpresas>img {
    padding: 1.2em;
    width: 3em;
    height: 3em;
}

.initLlamando {
    @include flexPanel(60%,97%,0% 0% 0% 20%,0%);
}

.llamando .pantalla {
    margin: 2% 12%;
}

.colgarPanel {
    border-radius: 30%;
    width: 30%;
    margin: auto;
}

.colgarPanel .iconPanel {
    clear: both; 
}

.colgarPanel .iconPanel>img {
    float:none;
    margin:0 0.2em;
    width:4em;
    height:2em;
}
