// bower:scss
// endbower


/* Space out content a bit */
@mixin clearSpace {
    margin:0;
    padding:0;
}

@mixin panel($normalColor, $hoverColor) {
    & {
        background-color:$normalColor;
    }
    &:hover {
        background-color:$hoverColor;
    }
}

@mixin flexPanel($width, $height, $padding, $margin ) {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-align-content: stretch;
    align-content: stretch;
    -webkit-box-align: stretch;
    -moz-box-align: stretch;
    -webkit-align-items: stretch;
    align-items: stretch;
    width: $width;
    height: $height;
    padding: $padding;
}

@font-face {
    font-family: Gothic;
    src: url(font/gothic.ttf);
}

* {
    @include clearSpace;
}

body {
    font: 71%/1.5 Gothic;
    height:100vh;
}

.container {
    width:100%;
    height:100%;
}

*::selection {
    background:transparent;
}

button {
    background: none;
    border: 0;
}

button:focus {
    outline: 0;
    box-shadow: none;
}

.header {
    display: inline-flex;
    width: 100%;
    background-color: #666;
    color: #ffffff;
    padding: 0.1em 0;
}

#signalPanel {
    padding-right: 38%;
    padding-left: 1%; 
    ul {
        @include clearSpace;
        list-style: none;
        display: inline-flex;
        li {
            width: 1.8em;
            height: 1.8em;
            margin: 0.1em;
            background-color: #ffffff;
            border-radius: 1em;
        }

    }
}

#hourPanel {
    font-size: 3em;
}

.telefono {
    height:90%;
    width:100%;
}

.init {
    @include flexPanel(100%,100%,0%,0);
}

.Panel {
    -webkit-box-ordinal-group: 1;
    -webkit-order: 1;
    order: 1;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: stretch;
    align-self: stretch;
    height:15%;
    margin: 2% 15%;
    padding: 2% 5%;
    color: #ffffff;
    border-radius: 0.5em;
    font-size: 6em;
    text-decoration: none;
    display: inline-flex;
    transition: all 1s ease-in;
}

.Panel .name>p{
    margin:0.4em 0;
}
.Panel .iconPanel {
    flex: 1 0 auto;
}

.Panel .iconPanel>img{
    width: 2em;
    height: 2em;
    float: right;
    margin:0.2em 0;
}

.Panel:hover .iconPanel>img {
    transition: all 0.2s ease-out;
    width:2.1em;
    height:2.1em;
}

.greenPanel {
    @include panel(green,black);
}

.orangePanel {
    @include panel(orange,black);
}

.redPanel {
    @include panel(red,black);
}

.bluePanel {
    @include panel(blue,black); 
}

/* Llamadas views*/
.teclado {
    width: 85%;
    height: 99%;
    margin: 2% 5%;
}

.pantalla {
    width: 100%;
    height: 15%;
    border: 0.2em solid;
    border-radius: 3em;
    margin-bottom: 2%;
    display:inline-flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: stretch;
}

.pantalla>input {
    font-size: 3.5em;
    border: 0 none;
    margin-left:0.2em;
    border-radius:0.5em;
    order:1;
}

.pantalla>input:focus {
    outline: 0px solid transparent;
    border: 0px solid transparent;
}


.pantalla>button {
    order:2;
    flex: 1 0 auto;
}

.pantalla>button>img {
    margin: 0.5em;
    width: 6em;
    height: 6em;
}

.pantalla .contador {
    margin: auto;
    margin-right: 0.2em;
    width: 1em;
    padding: 0.2em 0.2em;
    font-size: 2.3em;
    order:2;
    border:0.1em solid green;
    border-radius: 2em;
    flex: 1 0 auto;
    text-align:center;
}
.pantalla .contador>p {
    margin:0;
}

.cuerpo {
    display: inline-flex;
    width: 100%;
    height: 70%;
}

.tecladito {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    align-items: flex-start;
    width: 80%;
    height: 100%;
    margin-bottom: 2%;
    flex: 0 1 auto;
}

.tecla {
    background-color: green;
    color: white;
    width: 23%;
    height: 20%;
    border-radius:10em;
    display: inline-flex;
    font-size: 5em;
    margin-left: 10%;
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
}

.tecla>p {
    text-align: center;
    margin: auto;
}

.opciones {
    width: 15%;
    height: 100%;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: space-around;
    align-items:center;
}

.opciones .entrada {
    margin-top: 30%;
    width: 80%;
    height: 10%;
    background-color: green;

}

.opciones .dinero {
    text-align: center;
}

.opciones .dinero .moneda {
    font-size: 3em;
    padding: 1.3em 1.5em;
    color: white;
    display: inline;
    background-color: green;
    border-radius: 3em;
    margin-left:1em;
}

.opciones .dinero .letraGreen {
    display: inline;
    font-size: 3em;
    color: green;
}

.opciones .atras {
    width: 80%;
    height: 17%;
    border-radius: 100%;
    text-align: center;
    background-color: green;
    margin-bottom: 30%;
}

.opciones .atras>img {
    width: 70%;
    height: 70%;
    margin:15%;
}

.llamar {
    width: 80%;
    height: 12%;
    margin-left: 10%;
}

.llamar>button {
    width: 100%;
    height: 100%;
    border-radius: 6em;
    background-color: green;
}

.llamar>button>img {
    width: 6em;
    height: 6em;
}
//view llamando
.subllamado {
    width:100%;
    height:90%;
}

.initLlamando {
    @include flexPanel(75%,100%,0% 0% 0% 12%,0%);
}
.llamando {
    height:100%;
    width:100%;
}

.llamando .teclado {
    height:10%;
    .pantalla {
        width:100%;
        height:100%;
    }
}

.colgarPanel {
    border-radius: 35%;
    &:hover .iconPanel>img {
        width:4.2em;
        height:2.2em; 
    }
}

.colgarPanel .iconPanel>img {
    margin:0 1.2em;
    width:4em;
    height:2em;
}

//Notas views


#write {
    margin: 0 0 5px;
    padding: 5px;
    width: 100%;
    height: 50%;
    font: 2em/1.5 Verdana, Sans-Serif;
    background: #fff;
    border: 0.1em solid #f9f9f9;
    box-shadow:1em 1em 1em #f9f9f9;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#keyboard {
    margin: 0;
    padding: 0;
    list-style: none;
}

#keyboard li {
    display:inline-block;
    margin: 0 5px 5px 0;
    width: 1.9em;
    height: 50px;
    line-height: 40px;
    text-align: center;
    background: #000;
    color:#fff;
    font-size:2em;
    border: 1px solid #f9f9f9;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#keyboard .tab, #keyboard .delete {
    width: 3.08em;
}

#keyboard .capslock {
    width: 4em;
}
#keyboard .return {
    width:3.31em;
}
#keyboard .left-shift {
    width: 3em;
}
#keyboard .right-shift {
    width: 4.31em;
}
.uppercase {
    text-transform: uppercase;
}

#keyboard .space {
    width: 100%;
}

#keyboard li:active {
    position: relative;
    top: 0.1em;
    left: 0.1em;
    border-color: #e5e5e5;
    cursor: pointer;
}

.iconoImprimir {
    height:6%;
    border-radius: 3em;
    margin:0% 10%;
    background-color: green;
    text-align: center;
    color: #fff;
    font-size:4em;
    img {
        float:left;
        width:1.5em;
        height:1.5em;
        margin-left:2em;
    } 
    p {
        float:left;
        margin:0.1em 2em;
    }
}
//view of juegos
.juegos {
    width:100%;
    height:100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
}
.juego {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    width: 50%;
    height:20%;
    font-size:4em;
    color:black;
    p {
        margin-top: 1.3em;
        float:left;
        margin-left: 1em;
    }
    img {
        float: left;
        width: 4em;
        height: 4em;
        svg {
            fill:green;
        }
    }
}
//views of recargas
.empresas {
    width:100%;
    height:100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
}

.circlePanel {
    width: 42%;
    height: 35%;
    margin: 2%;
    font-size: 6.5em;
    text-align: center;
    background-color: orange;
    border-radius: 50%;
    transition: all 1s ease;
}

.circlePanel:hover {
    width: 36%;
    height: 21%;
    background-color: black;
}

.circlePanel>img {
    width: 4.5em;
    padding: 0.5em;
    height: 4.5em;
}

#atrasEmpresas>img {
    padding: 1.2em;
    width: 3em;
    height: 3em;
}
