// bower:scss
// endbower


/* Space out content a bit */
@mixin clearSpace {
    margin:0;
    padding:0;
}

@mixin panel($normalColor, $hoverColor) {
    & {
        background-color:$normalColor;
    }
    &:hover {
        background-color:$hoverColor;
    }
}

@mixin flexPanel($display,$direction,$wrap,$justify,$content,$items,$width, $height, $padding, $margin) {
    display: -webkit-$display;
    display: $display;
    -webkit-flex-direction: $direction;
    flex-direction: $direction;
    -webkit-flex-wrap: $wrap;
    flex-wrap: $wrap;
    -webkit-justify-content: $justify;
    justify-content: $justify;
    -webkit-align-content: $content;
    align-content: $content;
    -webkit-box-align: $items;
    -moz-box-align: $items;
    -webkit-align-items: $items;
    align-items: $items;
    width: $width;
    height: $height;
    padding: $padding;
}

@mixin flexChild($order,$flex,$align,$height,$margin,$padding) {
    -webkit-box-ordinal-group: $order;
    -webkit-order: $order;
    order: $order;
    -webkit-box-flex: 0;
    -webkit-flex: $flex;
    flex: $flex;
    -webkit-align-self: $align;
    align-self: $align;
    height:$height;
    margin: $margin;
    padding: $padding;
}

@font-face {
    font-family: Gothic;
    src: url(font/gothic.ttf);
}

* {
    @include clearSpace;
}

body {
    font: 71%/1.5 Gothic;
    height:100vh;
}

.container {
    width:100%;
    height:100%;
}

*::selection {
    background:transparent;
}

button {
    background: none;
    border: 0;
}

button:focus {
    outline: 0;
    box-shadow: none;
}

.emergenciaHeader {
    background-color: #e41f25;
}

.ayudaHeader {
    background-color:#0974ba;
}

.llamadasHeader {
    background-color:#009d45;
}

.recargasHeader {
    background-color:#ec6a34;
}

.inicioHeader {
    background-color:#696a6a;
}

.header {
    display: inline-flex;
    width: 100%;
    color: #ffffff;
    padding: 0.1em 0;
    transition: background-color 500ms linear;
}

#signalPanel {
    padding-right: 26%;
    padding-left: 1%; 
    ul {
        @include clearSpace;
        list-style: none;
        display: inline-flex;
        li {
            width: 1.8em;
            height: 1.8em;
            margin: 0.1em;
            background-color: #ffffff;
            border-radius: 1em;
        }

    }
}

#hourPanel {
    font-size: 3em;
}

.telefono {
    height:90%;
    width:100%;
}
//-----------------------------
@keyframes slideOutLeft {
to      { transform: translateX(-200%); }
}
@-moz-keyframes slideOutLeft {  
to      { -moz-transform: translateX(-200%); }
}
@-webkit-keyframes slideOutLeft {
to      { -webkit-transform: translateX(-200%); }
}

/* slide in from the right */
@keyframes slideInRight {
from    { transform:translateX(200%); }
to      { transform: translateX(0); }
}
@-moz-keyframes slideInRight {
from    { -moz-transform:translateX(200%); }
to      { -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInRight {
from    { -webkit-transform:translateX(200%); }
to      { -webkit-transform: translateX(0); }
}
#transitiones.ng-enter,
#transitiones.ng-leave      { position:absolute; left:30px; right:30px;
transition:0.5s all ease; -moz-transition:0.5s all ease; -webkit-transition:0.5s all ease; 
}

/* enter animation */
#transitiones.ng-enter            { 
-webkit-animation:slideInRight 0.5s both ease;
-moz-animation:slideInRight 0.5s both ease;
animation:slideInRight 0.5s both ease; 
}

/* leave animation */
#transitiones.ng-leave            { 
-webkit-animation:slideOutLeft 0.5s both ease;
-moz-animation:slideOutLeft 0.5s both ease;
animation:slideOutLeft 0.5s both ease;   
}
//-----------------------------

.init {
    @include flexPanel(flex,column,wrap,space-around,stretch,stretch,100%,100%,0%,0);
    transition: all 1s linear;
}

.initReposo {
    @include flexPanel(inline-flex,row,wrap,space-around,stretch,stretch,100%,12%,100% 0% 0% 0%,0);
    .Panel {
        height:100%;
        margin:0;
        padding: 0.2em 0.8em;
        &:hover {
            transform:translateY(-0.1em);
            .iconPanel>img {
                width:1.5em;
                height:1.5em;
            }
        }
        .name {
            display:none;
        }
        .iconPanel>img {
            float:none;
            width:1.5em;
            height:1.5em;
        }
    }
}

.Panel {
    @include flexChild(1,0 1 auto,stretch,15%,2% 15%, 2% 5%);
    color: #ffffff;
    border-radius: 0.5em;
    font-size: 6em;
    text-decoration: none;
    display: inline-flex;
    transition: all 4s linear;
}

.Panel .name>p{
    margin:0.4em 0;
}
.Panel .iconPanel {
    flex: 1 0 auto;
}

.Panel .iconPanel>img{
    width: 2em;
    height: 2em;
    float: right;
    margin:0.2em 0;
}

.Panel:hover .iconPanel>img {
    transition: all 0.2s ease-out;
    width:2.1em;
    height:2.1em;
}

.greenPanel {
    @include panel(#009d45,black);
}

.orangePanel {
    @include panel(#ec6a34,black);
}

.redPanel {
    @include panel(#e41f25,black);
}

.bluePanel {
    @include panel(#0974ba,black); 
}

/* Llamadas views*/
$buttonGreen:#009d45;
.teclado {
    width: 85%;
    height: 99%;
    margin: 2% 5%;
}

.pantalla {
    width: 100%;
    height: 15%;
    border: 0.2em solid;
    border-radius: 3em;
    margin-bottom: 2%;
    display:inline-flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: stretch;
}

.pantalla>input {
    font-size: 3.5em;
    border: 0 none;
    margin-left:0.2em;
    border-radius:0.5em;
    order:1;
}

.pantalla>input:focus {
    outline: 0px solid transparent;
    border: 0px solid transparent;
}


.pantalla>button {
    order:2;
    flex: 1 0 auto;
}

.pantalla>button>img {
    margin: 0.5em;
    width: 6em;
    height: 6em;
}

.pantalla .contador {
    margin: auto;
    margin-right: 0.2em;
    width: 1em;
    padding: 0.2em 0.2em;
    font-size: 2.3em;
    order:2;
    border:0.1em solid $buttonGreen;
    border-radius: 2em;
    flex: 1 0 auto;
    text-align:center;
}
.pantalla .contador>p {
    margin:0;
}

.cuerpo {
    display: inline-flex;
    width: 100%;
    height: 70%;
}

.tecladito {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    align-items: flex-start;
    width: 80%;
    height: 100%;
    margin-bottom: 2%;
    flex: 0 1 auto;
}

.tecla {
    background-color: $buttonGreen;
    color: white;
    width: 23%;
    height: 20%;
    border-radius:10em;
    display: inline-flex;
    font-size: 5em;
    margin-left: 10%;
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
}

.tecla>p {
    text-align: center;
    margin: auto;
}

.opciones {
    width: 15%;
    height: 100%;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: space-around;
    align-items:center;
}

.opciones .entrada {
    margin-top: 30%;
    width: 80%;
    height: 10%;
    background-color: $buttonGreen;

}

.opciones .dinero {
    text-align: center;
}

.opciones .dinero .moneda {
    font-size: 3em;
    padding: 1.3em 1.5em;
    color: white;
    display: inline;
    background-color: $buttonGreen;
    border-radius: 3em;
    margin-left:1em;
}

.opciones .dinero .letraGreen {
    display: inline;
    font-size: 3em;
    color: $buttonGreen;
}

.opciones .atras {
    width: 80%;
    height: 17%;
    border-radius: 100%;
    text-align: center;
    background-color: $buttonGreen;
    margin-bottom: 30%;
}

.opciones .atras>img {
    width: 70%;
    height: 70%;
    margin:15%;
}

.llamar {
    width: 80%;
    height: 12%;
    margin-left: 10%;
}

.llamar>button {
    width: 100%;
    height: 100%;
    border-radius: 6em;
    background-color: $buttonGreen;
}

.llamar>button>img {
    width: 6em;
    height: 6em;
}
//view llamando
.subllamado {
    width:100%;
    height:90%;
}

.initLlamando {
    @include flexPanel(flex,column,wrap,space-around,stretch,stretch,75%,100%,0% 0% 0% 12%,0%);
}
.llamando {
    height:100%;
    width:100%;
}

.llamando .teclado {
    height:10%;
    .pantalla {
        width:100%;
        height:100%;
    }
}

.colgarPanel {
    border-radius: 35%;
    &:hover .iconPanel>img {
        width:4.2em;
        height:2.2em; 
    }
}

.colgarPanel .iconPanel>img {
    margin:0 1.2em;
    width:4em;
    height:2em;
}

//Notas views


#write {
    margin: 0 0 5px;
    padding: 5px;
    width: 100%;
    height: 50%;
    font-size: 3em;
    background: #fff;
    border: 0.1em solid #f9f9f9;
    box-shadow:1em 1em 1em #f9f9f9;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#keyboard {
    margin: 0;
    padding: 0;
    list-style: none;
}

#keyboard li {
    display:inline-block;
    margin: 0 5px 5px 0;
    width: 1.9em;
    height: 50px;
    line-height: 40px;
    text-align: center;
    background: #000;
    color:#fff;
    font-size:2em;
    border: 1px solid #f9f9f9;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#keyboard .tab, #keyboard .delete {
    width: 3.08em;
}

#keyboard .capslock {
    width: 4em;
}
#keyboard .return {
    width:3.31em;
}
#keyboard .left-shift {
    width: 3em;
}
#keyboard .right-shift {
    width: 4.31em;
}
.uppercase {
    text-transform: uppercase;
}

#keyboard .space {
    width: 100%;
}

#keyboard li:active {
    position: relative;
    top: 0.1em;
    left: 0.1em;
    border-color: #e5e5e5;
    cursor: pointer;
}

.iconoImprimir {
    height:6%;
    border-radius: 3em;
    margin:0% 10%;
    background-color: $buttonGreen;
    text-align: center;
    color: #fff;
    font-size:4em;
    img {
        float:left;
        width:1.5em;
        height:1.5em;
        margin-left:2em;
    } 
    p {
        float:left;
        margin:0.1em 2em;
    }
}
//view of juegos
.juegos {
    width:100%;
    height:100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
}
.juego {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    width: 50%;
    height:20%;
    font-size:4em;
    color:black;
    p {
        margin-top: 1.3em;
        float:left;
        margin-left: 1em;
    }
    img {
        float: left;
        width: 4em;
        height: 4em;
        svg {
            fill:$buttonGreen;
        }
    }
}
//views of recargas
$buttonOrange:#ec6a34;
.empresas {
    width:100%;
    height:100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
}

.circlePanel {
    width: 42%;
    height: 35%;
    margin: 2%;
    font-size: 6.5em;
    text-align: center;
    border-radius: 50%;
    transition: all 1s ease;
}

.circlePanel:hover {
    width: 43%;
    height: 36%;
}

.circlePanel>img {
    width: 4.5em;
    padding: 0.5em;
    height: 4.5em;
}

#atrasEmpresas>img {
    padding: 1.2em;
    width: 3em;
    height: 3em;
}

//recargar view
.idEmpresa {
    position:absolute;
    top:0;
    right:0.5em;
    font-size:3.5em;
    color:white;
    text-transform:uppercase;
}

.opcionesRecargas {
    margin-left:18%;
    width:80%;
    height:12%;
    color:white;
    .entrada {
        float:left;
        width:50%;
        height:100%;
        background-color:$buttonOrange;
        border-radius:5em;
        p {
            font-size:3em;
            margin:0; 
            line-height:3.7em;
            text-align:center;
        }
    }
    .dinero {
        margin-left:7%;
        float:left;
        width:40%;
        height:100%;
        font-size:5em;
        line-height:2.5em;
        .moneda {
            float:left;
            width: 52%;
            height:100%;
            background-color:$buttonOrange;
            text-align:center;
            border-radius:50%;
            margin-right:0.5em;
        }
        .letraOrange {
            float: left;
            color: $buttonOrange;
        }
    }

}
.cuerpoRecarga {
    margin-left:10%;
    .tecla {
        background-color:$buttonOrange;
    }

    .tecladito {
        width:90%;
    }
    width:80%;
    height:62%;
}
.recargar {
    $sizeLetter:6em;
    margin-left:18%;
    width:70%;
    height:12%;
    &>button {
        height:100%;
        width:60%;
        border-radius: 5em;
        background-color:$buttonOrange;
        img {
            width:$sizeLetter;
            height:$sizeLetter;
        }
    }
    &>.atras {
        margin-left:7%;
        border-radius:50%;
        width: 25%;
        height: 100%;
        background-color:$buttonOrange;
        &>img {
            width:$sizeLetter;
            height:$sizeLetter;
        }
    }
}

//emergencias view
.emergenciaView {
    width:100%;
    height:100%;
}

.initEmergencia {
    @include flexPanel(flex,column,wrap,space-around,stretch,stretch,100%,70%,15% 0% 0% 0%,0);
    transition: all 1s linear;
}
.initEmergencia .Panel {
    height: 20%;
}

.atrasEmergencia {
    height: 20%;
    width: 25%;
    margin:auto;
    .atras {
        width:100%;
        height:100%;
        border-radius: 50%;
        img {
            width: 60%;
            height: 60%;
            margin: 5%;
        }
    }
}
//emergencias llamandoEmergencia
@keyframes cambioColor {
    0%,100% {
        background-color:#e41f25;
    }
    50% {
        background-color:#009d45;
    }
}
@-webkit-keyframes cambioColor {
    0%,25%,75%,100% {
        background-color:#e41f25;
    }
    50% {
        background-color:#009d45;
    }
}

.llamandoEmergencia {
    @include flexPanel(flex,column,wrap,space-around,stretch,stretch,70%,100%,8% 0% 0% 15%,0);
    font-size: 4em;
    .textLlamada {
        margin-bottom:0;
        position:absolute;
        transform:translateY(-1.4em);
    }
    .Panel {
        font-size:1.5em;
        height:15%;
        width:100%;
        margin:0;
        text-transform:uppercase;
    }
    .privadoEmergencia {
        @include flexChild(1,0 1 auto,stretch,40%,0% 0% 0% 4%,0);
        &>ul li {
            position:relative;
            list-style:none;
            border-bottom:0.05em red solid;
            padding-top: 0.5em;
            .principalPrivado {
                .nombrePrivado {margin-left:0.2em;display:inline-block;transform: translateY(-22%);}
                img {
                    position:relative;
                    margin-top:0.2em;
                    width:1em;
                    height:1em;
                    background-color:#e41f25;
                    padding: 0.2em;
                    border-radius:0.2em;
                    animation:4s cambioColor infinite;
                }
                .rightIcon {
                    float:right;
                    margin-top: 0.5em;
                    color:#e41f25;
                }
            }
            .adicionalPrivado {
                display:block;
                transition:all 3s linear;
                color:#fff;
                background-color:#e41f25;
                font-size:0.6em;
                .telefonoPrivado{display:inline-block;margin-left:2em;}
                .direccionPrivado{ display:inline-block; float:right; margin-right:2em;}
            }
        }
    }
    .emergenciaColgar {
        @include flexChild(1,0 1 auto,stretch,11%,0 auto,0);
       width: 35%;
       border-radius:3em;
       img {
            width:16em;
            height:9em;
       }
    }
}
