<div class="juegos">
    <a ui-sref="llamando.hextris" class="juego">
        <img src="images/interaccion/juegos.svg"/>
        <p>JUEGO 1</p>
    </a>
    <a class="juego">
        <img src="images/interaccion/juegos.svg"/>
        <p>JUEGO 2</p>
    </a>
    <a class="juego">
        <img src="images/interaccion/juegos.svg"/>
        <p>JUEGO 3</p>
    </a>
    <a class="juego">
        <img src="images/interaccion/juegos.svg"/>
        <p>JUEGO 4</p>
    </a>
</div>
<div class="atrasJuegos" ui-sref="llamando">
    <img src="images/otros/atras.svg"/>
</div>
