<div class="initLlamando">
    <textarea ng-model="miTexto" id="write" rows="6" cols="60"></textarea>
    <div class="buttonNotas">
        <button class="iconoImprimir" ng-click="imprimirTexto()">
            <img src="images/otros/imprimir.svg"/>
            <p>IMPRIMIR</p>
        </button>
        <button ui-sref="llamadas" class="iconoColgar" ng-click="colgar()">
            <img src="images/otros/colgar.svg"/>
        </button>
        <button ui-sref="llamando" class="iconoAtras">
            <img src="images/otros/atras.svg"/>
        </button>
    </div>
</div>
<modal-dialog show='modalShown' width='70%' height='45%' tipemodal="imprimiendoModal">
    <img class="imprimirModalImg" src="images/otros/imprimir.svg"/>
    <h1 class="textoImprimirModal">IMPRIMIENDO</h1>
</modal-dialog>
<keyboard></keyboard>
