<div class="keyboardDirective">
    <ul id="keyboard">
        <li ng-click="teclar('q')" ng-class="casse" class="letter frontline">q</li>
        <li ng-click="teclar('w')" ng-class="casse" class="letter frontline">w</li>
        <li ng-click="teclar('e')" ng-class="casse" class="letter frontline">e</li>
        <li ng-click="teclar('r')" ng-class="casse" class="letter frontline">r</li>
        <li ng-click="teclar('t')" ng-class="casse" class="letter frontline">t</li>
        <li ng-click="teclar('y')" ng-class="casse" class="letter frontline">y</li>
        <li ng-click="teclar('u')" ng-class="casse" class="letter frontline">u</li>
        <li ng-click="teclar('i')" ng-class="casse" class="letter frontline">i</li>
        <li ng-click="teclar('o')" ng-class="casse" class="letter frontline">o</li>
        <li ng-click="teclar('p')" ng-class="casse" class="letter frontline lastitem">p</li>
        <li ng-click="teclar('a')" ng-class="casse" class="letter akey">a</li>
        <li ng-click="teclar('s')" ng-class="casse" class="letter">s</li>
        <li ng-click="teclar('d')" ng-class="casse" class="letter">d</li>
        <li ng-click="teclar('f')" ng-class="casse" class="letter">f</li>
        <li ng-click="teclar('g')" ng-class="casse" class="letter">g</li>
        <li ng-click="teclar('h')" ng-class="casse" class="letter">h</li>
        <li ng-click="teclar('j')" ng-class="casse" class="letter">j</li>
        <li ng-click="teclar('k')" ng-class="casse" class="letter">k</li>
        <li ng-click="teclar('l')" ng-class="casse" class="letter">l</li>
        <li ng-click="teclar('ñ')" ng-class="casse" class="letter lastitem">ñ</li>
        <li ng-click="shift()" class="shift specialkey">shift</li>
        <li ng-click="teclar('z')" ng-class="casse" class="letter frontline">z</li>
        <li ng-click="teclar('x')" ng-class="casse" class="letter frontline">x</li>
        <li ng-click="teclar('c')" ng-class="casse" class="letter frontline">c</li>
        <li ng-click="teclar('v')" ng-class="casse" class="letter frontline">v</li>
        <li ng-click="teclar('b')" ng-class="casse" class="letter frontline">b</li>
        <li ng-click="teclar('n')" ng-class="casse" class="letter frontline">n</li>
        <li ng-click="teclar('m')" ng-class="casse" class="letter frontline">m</li>
        <li ng-click="borrar()" class="delete specialkey lastitem"><img src="images/otros/borrarWhite.svg"></li>
        <li class="letter numeralkey specialkey">123</li>
        <li ng-click="capslock()" class="capslock specialkey">Bloq</li>
        <li ng-click="teclar(' ')" class="space lastitem">&nbsp;</li>
        <li class="letter executeKey specialkey lastitem">Intro</li>
    </ul>
</div>
