<div class="llamandoEmergencia">
    <p class="textLlamada">...LLAMANDO</p>
    <a class="redPanel Panel">
        <div class="name">
            <p>{{tipoEmergencia}}</p>
        </div>
        <div class="iconPanel">
            <img ng-src="../images/informacion/{{tipoEmergencia}}.svg"/>
        </div>
    </a>
    <div class="privadoEmergencia">
        <ul>
            <li>
                <div class="principalPrivado">
                    <img src="../images/menu/auricular.svg"/><a class="nombrePrivado">LOS OLIVOS</a>
                </div>
                <span class="adicionalPrivado">
                    <p class="telefonoPrivado">44727272 </p>
                    <p class="direccionPrivado">Av costanera</p>
                </span>
            </li>
            <li>
                <div class="principalPrivado">
                    <img src="../images/menu/auricular.svg"/><a class="nombrePrivado">UNIVALLE</a>
                </div>
                <span class="adicionalPrivado">
                    <p class="telefonoPrivado">44727272 </p>
                    <p class="direccionPrivado">Av costanera</p>
                </span>
            </li>
            <li>
                <div class="principalPrivado">
                    <img src="../images/menu/auricular.svg"/><a class="nombrePrivado">SAN PEDRO</a>
                </div>
                <span class="adicionalPrivado">
                    <p class="telefonoPrivado">44727272 </p>
                    <p class="direccionPrivado">Av costanera</p>
                </span>
            </li>
        </ul>
    </div>
    <button class="emergenciaColgar redPanel">
        <img src="../images/otros/colgar.svg"/>
    </button>
</div>
