<div class="ayudaView" ui-view>
    <div class="initAyuda">
        <a ui-sref=".buscar({servicio:'codigos'})" class="bluePanel Panel">
            <div class="iconPanel">
                <i class="fa fa-flag fa-2x"></i>
            </div>
            <div class="name">
                <p>Codigo Paises</p>
            </div>
        </a>
        <a ui-sref=".buscar({servicio:'restaurantes'})" class="darkoragePanel Panel">
            <div class="iconPanel">
                <img src="images/ayuda/restaurant.svg"/>
            </div>
            <div class="name">
                <p>Restaurantes</p>
            </div>
        </a>
        <a ui-sref=".buscar({servicio:'mecanicos'})" class="tealPanel Panel">
            <div class="iconPanel">
                <img src="images/ayuda/mecanico.svg"/>
            </div>
            <div class="name">
                <p>Mecanico</p>
            </div>
        </a>
        <a ui-sref=".buscar({servicio:'taxis'})" class="yellowPanel Panel">
            <div class="iconPanel">
                <img src="images/ayuda/taxi.svg"/>
            </div>
            <div class="name">
                <p>Taxi</p>
            </div>
        </a>
    </div>
    <div ui-sref="home" class="atrasAyuda">
        <button class="atras bluePanel"><img src="../images/otros/atras.svg"/></button>
    </div>
</div>
