<div class="initEmergencia">
    <a href="#/llamadas" class="redPanel Panel">
        <div class="name">
            <p>Policia</p>
        </div>
        <div class="iconPanel">
            <img src="../images/informacion/policia.svg"/>
        </div>
    </a>
    <a href="#/recarga" class="redPanel Panel">
        <div class="name">
            <p>Bomberos</p>
        </div>
        <div class="iconPanel">
            <img src="../images/informacion/bomberos.svg"/>
        </div>
    </a>
    <a href="#/emergencia" class="redPanel Panel">
        <div class="name">
            <p>Hospital</p>
        </div>
        <div class="iconPanel">
            <img src="../images/menu/cruz_roja.svg"/>
        </div>
    </a>
</div>
<div class="atrasEmergencia">
    <button class="atras redPanel"><img src="../images/otros/atras.svg"/></button>
</div>
