<div class="init">
    <div class="greenPanel Panel">
        <div class="name">
            <a>Llamadas</a>
        </div>
        <div class="iconPanel">
        </div>
    </div>
    <div class="orangePanel Panel">
        <div class="name">
            <a>Recargas</a>
        </div>
        <div class="iconPanel">
        </div>
    </div>
    <div class="redPanel Panel">
        <div class="name">
            <a>Emergencia</a>
        </div>
        <div class="iconPanel">
        </div>
    </div>
    <div class="bluePanel Panel">
        <div class="name">
            <a>Ayuda</a>
        </div>
        <div class="iconPanel">
        </div>
    </div>
</div>
