<div ng-class="reposo">
    <a href="#/llamadas" class="greenPanel Panel" ng-class="changePosition">
        <div class="name">
            <p>Llamadas</p>
        </div>
        <div class="iconPanel">
            <img src="../images/menu/auricular.svg"/>
        </div>
    </a>
    <a href="#/recarga" class="orangePanel Panel" ng-class="changePosition">
        <div class="name">
            <p>Recargas</p>
        </div>
        <div class="iconPanel">
            <img src="../images/menu/carrito.svg"/>
        </div>
    </a>
    <a href="#/emergencia" class="redPanel Panel" ng-class="changePosition">
        <div class="name">
            <p>Emergencia</p>
        </div>
        <div class="iconPanel">
            <img src="../images/menu/cruz_roja.svg"/>
        </div>
    </a>
    <a href="#/ayuda" class="bluePanel Panel" ng-class="changePosition">
        <div class="name">
            <p>Ayuda</p>
        </div>
        <div class="iconPanel">
            <img src="../images/menu/informacion.svg"/>
        </div>
    </a>
</div>
