<div class="empresas">
    <a href="#/recarga/recargador/tigo" class="circlePanel">
        <img src="../images/empresas/tigo.svg"/>
    </a>
    <a href="#/recarga/recargador/viva" class="circlePanel">
        <img src="../images/empresas/viva.svg"/>
    </a>
    <a href="#/recarga/recargador/entel" class="circlePanel">
        <img src="../images/empresas/entel.svg"/>
    </a>
    <a href="#/" id="atrasEmpresas" class="circlePanel">
        <img src="../images/otros/atras.svg"/>
    </a>
</div>
