<div class="empresas" ui-view>
    <a ui-sref=".recargador({empresaId:'tigo'})" class="circlePanel orangePanel">
        <img src="../images/empresas/tigo.svg"/>
    </a>
    <a ui-sref=".recargador({empresaId:'viva'})" class="circlePanel orangePanel">
        <img src="../images/empresas/viva.svg"/>
    </a>
    <a ui-sref=".recargador({empresaId:'entel'})" class="circlePanel orangePanel">
        <img src="../images/empresas/entel.svg"/>
    </a>
    <a href="#/" id="atrasEmpresas" class="circlePanel orangePanel">
        <img src="../images/otros/atras.svg"/>
    </a>
</div>
